/* Accordion.css */
.accordion {
  background-color: #2a1b57;
  border: 1px solid #553ca1;
  border-radius: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}

.accordion-button {
  color: #ffffff71;
  background-color: #3f3268;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0;
  width: 30px;
  height: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.accordion-button-heart {
  color: #ffffff71;
  background-color: #6a4dbc;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0;
  width: 30px;
  height: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.accordion.expanded .arrow-icon {
  transform: rotate(-360deg);
  transition: transform 0.5s ease;
}

.accordion.collapsed .arrow-icon {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}

.accordion.expanded {
  background-color: #11072f;
}

/* Recursive padding */
.accordion-title {
  padding-right: 40rem; /* Remove the padding */
  display: flex; /* Add flex display */
  align-items: center; /* Align items vertically in the center */
}
.title-text {
  margin-left: 10px; /* Add some spacing between the heart icon and the title */
  font-size: larger;
  color: #ffffff; /* Set the text color */
}

.accordion-title .accordion-title {
  padding-right: 25rem;
}

.accordion-title .accordion-title .accordion-title {
  padding-right: 20rem;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .accordion-title {
    padding-right: 10rem;
  }

  .accordion-title .accordion-title {
    padding-right: 5rem;
  }

  .accordion-title .accordion-title .accordion-title {
    padding-right: 2rem;
  }

  /* Adjust padding and styles as needed for smaller screens */
}
